.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.table-dates {
  width: 250px;
}

.table-status {
  width: 200px;
}

.table-ref {
  width: 400px;
}
